@import "tailwindcss";

/* Custom scrollbar styles */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Custom color palette */
:root {
  --primary: #FF3B30;
  --primary-dark: #E5342A;
  --secondary: #FFC107;
  --accent: #857878;
  --dark: #1C1C1E;
}
.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.text-primary {
  color: var(--primary);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.hover\:bg-primary-dark:hover {
  background-color: var(--primary-dark);
}

.hover\:text-primary-dark:hover {
  color: var(--primary-dark);
}
